#!/bin/sh
# Executed after .xprofile and before .startup.sh
# Some general settings usefull for everyone using my dotfiles

# Set keyboard rate higher
xset r rate 300 50
# Map Caps Lock to Escape for easier Vim etc.
setxkbmap -option caps:escape &

# Start pipewire
/usr/bin/pipewire &
/usr/bin/pipewire-pulse &
/usr/bin/wireplumber &

# Start mpd
mpd &

# Unclutter, automatically hides the cursor when inactive
unclutter --start-hidden &

# Set wallpaper
~/scripts/random_wallpaper.sh
