#!/bin/sh
# Executed on window manager start or from .xinitrc when using xinit (when you run the startx command)
# Some general settings usefull for everyone using my dotfiles

# GENERAL
export EDITOR="helix"
export PATH=$PATH:$HOME/.local/bin 

# DISPLAY
# Set DPI correctly
xrandr --dpi 96

# KEYBOARD
# Set keyboard rate higher
xset r rate 300 50
# Map Caps Lock to Escape for easier Vim etc.
setxkbmap -option caps:escape &

# AUDIO
# Start pipewire
/usr/bin/pipewire &

# Start mpd
mpd &

eval `ssh-agent`

# Unclutter, auto hides the cursor
unclutter --start-hidden &
# Set wallpaper
$HOME/.local/bin/setbg &
# Startup script
$HOME/.startup.sh &

